<!DOCTYPE html>
<html>
  <head>
    <title>My Flask App</title>
    <style>
      body {
        background-color: #333;
        color: #fff;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      
      h1 {
        font-size: 36px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-shadow: 2px 2px #000;
      }
    </style>
  </head>
  <body>
    <h1>Analyse des tweets des lignes de métros/RER</h1>
    <iframe src="http://localhost:5601/app/kibana#/dashboard/2ae921e0-b531-11ed-aabf-e9f668e75d4d?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3A'2020-02-25T22%3A03%3A32.531Z'%2Cto%3Anow))" height="700" width="1500"></iframe>
</html>